<%- include("header.ejs"),  %> 
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <img src="/images/brand/logo_white.png" alt="Digi vaccin" width="180px">
    </header>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-users"></i> Användare
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-cogs"></i> Settings
        </a>
      </li>
    </ul>
  </div>