<%- include('../../modules/header'), {title:title} %>
<div class="row full-width-height">
    <div class="col image-side"><br>
        <h1 class="first-login-txt">Tack för allt ni har lagt till för vår säkra framtiden</h1>
        <h1 class="secound-login-txt">Ni är hjälterna under denna<br>tiden</h1>
        <img class="login-img" src="/images/illustrations/undraw_doctors_hwty.svg" alt="Håll social distance">
    </div>

    <div class="col login-side">
        <div class="login-form">
            <h1 class="text-white">Logga in</h1>
            <% for(error of errors){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fas fa-times"></i></span>
                    <span class="alert-inner--text"><strong>Oj!</strong> <%= error %> </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %> 
            <div class="form-group">
                <form method="POST">
                    <input type="text" name="username" autocomplete="personnummer" class="form-control number-input" placeholder="Användernamn" required>
                    <input type="password" autocomplete="current-password" name="password" class="form-control" placeholder="Lösenord" required>
                    <a href="">Glömde inloggnings uppgifterna?</a><br>
                    <button type="submit" class="login-btn">Logga in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>