<%- include('../modules/header'), {title:title} %>
<%- include('../modules/navbar'), {signedIn}%>

<div class="index-heading">
    
    <img class="heading-img" src="/images/illustrations/undraw_Romantic_getaway_re_3f45.svg" alt="Låt oss träffas igen">
    <h1>Låt oss <br> träffas igen</h1>
    <a class="btn-prim heading-btn"><h2>Hämta din bevis idag</h2></a>
</div>
<br><br>
<div class="container">
    <div class="first-row">
        <div class="row">
            <div class="col-md-6 align-left slideLeft">
                <img class="body-img" src="/images/illustrations/undraw_my_app_re_gxtj.svg" alt="Allt från din mobil" >
            </div>
            <div class="col-md-6 align-left slideLeft">
                <div class="first-row-txt">
                    <h1>Vaccin bevis direkt från din ficka</h1>
                    <h3>
                        Tänk inte längre på att behöva ansöka om vaccin beviset utan ha den med dig var ens du är med den nya [app name] där du har din vaccin bevis constant i din ficka
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<script>
    ScrollReveal().reveal('.slideLeft', {delay: 200, distance: '300px', origin: 'left'});
</script>

<%- include('../modules/footer') %> 