<%- include('../../modules/header'), {title:title} %>
<div class="row full-width-height">
    <div class="col"><br>
        <h1 class="first-login-txt">vi kan se ljus i slutet av tunneln<br>men det betyder inte att vi är där än</h1>
        <h1 class="secound-login-txt">Fortsätt distensera för din och<br>andras säkerhet</h1>
        <img class="login-img" src="/images/illustrations/undraw_social_distancing_2g0u.svg" alt="Håll social distance">
    </div>

    <div class="col login-side">
        <div class="login-form">
            <h1 class="text-white">Logga in</h1>
            <% for(error of errors){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fas fa-times"></i></span>
                    <span class="alert-inner--text"><strong>Oj!</strong> <%= error %> </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %> 
            <div class="form-group">
                <form method="POST">
                    <input type="text" name="personnummer" autocomplete="personnummer" class="form-control" placeholder="Personnummer" required>
                    <input type="password" autocomplete="current-password" name="password" class="form-control" placeholder="Lösenord" required>
                    <button type="submit">Logga in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>