<%- include("../../modules/admin/navbar.ejs"), {title:title}  %> 
<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <p>
        Make sure to keep all page content within the 
        <code>#content</code>.
      </p>
    </div>
  </div>
</div>
<%- include("../../modules/admin/footer.ejs") %> 